<div class="flex justify-content-center mt-5 sticky top-0 z-5">
  <span class="p-input-icon-left mr-2">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search by keywords" [(ngModel)]="searchArticle">
  </span>
  <p-button class="mr-2" icon="pi pi-arrow-up" (onClick)="sortAsc()"></p-button>
  <p-button icon="pi pi-arrow-down" (onClick)="sortDesc()"></p-button>
</div>
<div class="flex justify-content-center flex-wrap" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <p-card class="m-5" *ngFor="let article of articles | filter: searchArticle" header="{{article.title}}"
    subheader="by {{article.author}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img *ngIf="article.image" alt="Technology article image" src="{{article.image}}">
    </ng-template>
    <p>{{article.description}}</p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-between align-items-center">
        <p>{{article.published_at | date:'medium'}}</p>
        <a pButton pRipple href="{{article.url}}" target="_blank"
          class="p-button-outlined p-button-rounded p-button-info text-xs no-underline">View original post</a>
      </div>
    </ng-template>
  </p-card>
</div>
<p-progressSpinner *ngIf="loading" [style]="{width: '40px', height: '40px'}" class="ml-5" strokeWidth="8">
</p-progressSpinner>
